body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.pic-size{
	height: 300px;
	width: 300px;
}
.neb-one{
	float: left;
	margin: 10px;
}
.neb-two{
	float: right;
	margin: 10px;
}