nav{
	position: fixed;
	height: 70px;
	width: 100%;
	background-color: grey;
	padding-right: 60px;
	padding-left: 60px;
	

}
.navicat{
	height: 55px;
	width: 55px;
	vertical-align: middle;
	border-radius: 50%;
	position: absolute;
	top: 8px;
}
ul{
	
	margin-left: 30px;
	margin-top: 25px;
}

li{
	display: inline;
	
}
nav li::after {
    content: "|";
    margin-left: 5px;
}

body{
    background: url(../images/outerspace_landscape.jpeg) no-repeat;
    background-size: cover;
}

main {
  padding-top: 90px;
  min-width: 1000px;
  }

.greenbox{

	position: relative;
	margin-top: 200px;
	height: 300px;
	width: 600px;
	border: 10px dotted green;
	margin-right: auto;
	margin-left: auto;
}
.wierdcat,.cutedog{
	height: 200px;
	width: 200px;
	position: absolute;
} 

.wierdcat{
	top: -90px;
    left: -90px;
}
.cutedog{
	 bottom: -120px;
     right: -60px;
}



